# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/AzureLauncher/FileContentIndex
/.vs/AzureLauncher/v17
/AzureLauncher/AzureLauncher.vcxproj.user
/.vs/AzureLauncher/v16
/AzureHook/x64/Debug
/AzureHook/Release
/AzureHook/Debug
/Release
/obj
/Debug
/build/x64/Debug
/build
/AzureLauncher/Release
/AzureLauncher/Debug
/AzureLauncher/config
/AzureLauncher/x64/Debug
